website/.next
website/.nova
website/.env
website/.env.local
website/.env-custom-development
website/.env-development
website/.env-textile
website/.env-production
website/.DS_STORE
website/DS_STORE
website/yarn.lock
website/node_modules
website/dist
website/analytics.txt
website/package-lock.json
server/node_modules
server/package-lock.json

website/**/*/.DS_STORE
website/**/*/node_modules
website/**/*/.next
website/**/*/.data